@model Student

<h2>Student Details</h2>

<div>
    <div><strong>ID:</strong> @Model.Id</div>
    <div><strong>Name:</strong> @Model.Name</div>
    <div><strong>Point:</strong> @Model.Point</div>
</div>
